[2020-01-29 16:38] dcopetti opened #1 "HASLR on heterozygous genomes"
Hi,

I wonder if you have any idea of how your assembler will work with highly heterozygous genomes: do you think it will be able to recognize allelic long reads and maintain the phasing within a read?
My plant genome is ~2.5 Gb, but assembling it I get almost a 4 Gb assembly - i.e. lots of sites are very different and don't collapse in a single contig per locus, rather one for each allele.
Do you

[2020-01-29 18:26] haghshenas commented on #1
Hi there,

Thanks for your interest in our assembler.
The current version of HASLR is not heterozygosity-aware as it performs one consensus calling of all long read subsequences between two nodes of the backbone graph. However, it is possible to cluster long read subsequences into two (or more) groups and perform a separate consensus calling for each group. I am working on this line of improvement

[2020-01-29 19:30] mjmillerlab opened #2 "minimum coverage requirements?"
Do you have a sense of minimum coverage required. It seems that you tried for 50X long read coverage in your manuscript. And other long read assemblers want 30-60X. But what about 10X long-read coverage? Any chance that might work?

[2020-01-29 19:43] haghshenas commented on #2
Hello,

By default, HASLR uses longest 25x of long reads (i.e. it downsamples if the coverage is higher).
However, it shouldn't complain about low coverage. Technically it requires only 3 support to connect two short read contigs in the backbone graph; so you can try it.

I haven't done a thorough test with low coverage datasets... still I would suggest you to try it once with default parameters a

[2020-01-29 21:40] AmaliT commented on #2
Hi @haghshenas How about the coverage requirement for short read? Given that it uses short reads to generate SRC, does that mean a higher SR coverage is required compared to long read? Also could you feed in multiple insert sizes of short reads?

[2020-01-29 21:57] haghshenas commented on #2
Hi @AmaliT. Yes, I would say a medium depth of coverage for short reads is necessary. The lowest SR coverage I tested was ~40X.
Yes, since minia doesn't care about insert size (and uses all SRs as single end read) it should work with short read datasets with different insert sizes.

[2020-01-29 22:59] andreaswallberg opened #3 "Arranging files with paired end short-reads"
Dear developers,

This looks like a great tool!

With regards to Forward/Reversed PE reads:

Can the F/R reads be provided one after another in the same fastq file or do they have to be provided as two separate files?

Similarly, can the program read more two or more pairs of F/R files?

[2020-01-29 23:11] haghshenas commented on #3
Hi @andreaswallberg
Thanks for your interest in our tool.
Since HASLR uses Minia for short read assembly, paired-end information will be ignored. This means that Minia treats all short reads as single-end. So it really doesn't matter if they are in a single file or two separate files.

Yes, you can pass many short read files.

[2020-01-29 23:15] haghshenas commented on #2
@AmaliT, I want to clarify that you should pass all short read files after `-s` separated by space.

[2020-01-29 23:16] haghshenas commented on #3
Just pass all short read files after `-s` (separated by space).

[2020-01-30 06:12] bpucker opened #4 "Missing result files"
Hi,

Everything runs very well and no error message is given. However, the final result files are just missing. I tried it twice on an Arabidopsis thaliana data set.

PacBio reads from this study: https://doi.org/10.1371/journal.pone.0216233
Illumina reads from this study: https://doi.org/10.1371/journal.pone.0164321

There is no time given for the last step listed in "asm_contigs_k49_a3_lr25x_b50

[2020-01-30 20:35] haghshenas commented on #4
Hey Boas,

Thanks for trying HASLR. What you are reporting seems like a bug.
In order to reproduce this, can you tell me the steps and commands you used, please?
Also, can you check N50 of short read assembly (in file sr_k49_a3.contigs.nooverlap.250.fa)?

[2020-01-30 20:36] haghshenas commented on #4
Meanwhile, I downloaded the datasets. On SRX1434948 and SRX1683821, Minia generates very poor short read assemblies.
I tried HASLR with SRX1683594 and all pacbio reads (obtained by running bax2bam+bam2fasta) and was able to get the assembly. It seems your long reads have relatively high accuracy. So try different parameters for --cov-lr and --aln-sim. Probably increasing them might help to get mor

[2020-01-30 20:37] #3 closed

[2020-01-30 22:27] AmaliT commented on #2
@haghshenas thanks. Will give it a try. Cheers

[2020-01-31 03:47] bpucker commented on #4
Thank you very much for your quick reply.
You incorporated only the two mate pair data sets in your short read assembly. I just tried the assembly with one paired-end 2x110 nt data set (https://www.ncbi.nlm.nih.gov/sra/SRX1434944). It was just to see if everything is working. There would be substantially more short reads (about 240x coverage, https://www.ncbi.nlm.nih.gov/sra/?term=Niederzenz-1).

[2020-01-31 06:25] haghshenas commented on #4
This is strange! I just tried on SRX1434944 as well and it is working. The steps I followed:
- downloaded pacbio bax files
- converted bax files to bams (bax2bam)
- converted bam files to fasta (bam2fasta)
- prefetch SRR2919279 (SRA-toolkit)
- fasterq-dump SRR2919279 (SRA-toolkit)
- and finally run HASLR with default parameters.

Is there a chance that the data we are using is not exactly the same

[2020-01-31 06:36] bpucker commented on #4
I am working with the original data sets that were submitted to the SRA. Therefore, I think we can exclude that. Most steps are working fine thus the names of the reads are probably not an issue. Just the final files "asm.final.fa" and "asm.final.ann" are missing. Here is the content of the "asm_contigs_k49_a3_lr25x_b500_s3_sim0.85" folder:

backbone.01.init.gfa	       backbone.05.superbubble.log

[2020-01-31 07:14] haghshenas commented on #4
I see your point about the dataset. The problem is that I was not able to reproduce the same issue you encountered with the steps I mentioned. If I can manage to reproduce the issue then I can debug and fix.

[2020-02-05 11:32] TGatter commented on #4
The problem arises on some machines as SPOA is compiled on a command set not compatible with the CPU. Likely this arises because of the  "-march=native" in the SPOA make files.

[2020-02-06 21:06] jpummil opened #5 "Error - std::bad_alloc during "calling consensus sequence between anchors""
[NOTE] calling consensus sequence between anchors...
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc

Compute resource seems to be ample from a memory perspective...node has 768GB of ram. Monitoring with top, the task seemed to be around 330GB when error occurred.

Input data:
(Haslr) pinnacle-l4:jpummil:/scrfs/storage/jpummil/C.vittatus$ ls -lh *.fastq
-r

[2020-02-14 16:31] mbhall88 opened #6 "Using CCS/HiFi PacBio reads"
Is there anything "wrong" with me using CCS reads for the long reads? i.e. is there some kind of inferred error rate attached to the long reads parameter that will mess this up? (CCS reads have a very low error rate compared to raw ont/pacbio)

[2020-02-14 16:33] mbhall88 opened #7 "Set coverage to use all"
Is it possible to specify that you don't want to subsample to a certain coverage?

I can obviously set `--cov-lr`  to something huge, but is there something like setting it to 0 to tell it to just use all?

[2020-02-18 19:48] haghshenas commented on #6
Hi Michael,

There is nothing wrong with using HiFi long reads. But we might get too many alignments when aligning short read contigs to long reads using either `-x pacbio` or `-x nanopore`.
I need to make another option for these reads.

[2020-02-18 19:50] haghshenas commented on #7
So far there is no option to do that.
I'll work on this to add an option to make things more convenient.

[2020-02-18 19:50] #1 closed

[2020-02-18 19:50] #2 closed

[2020-02-18 23:45] haghshenas commented on #6
I added the experimental option `-x corrected`. It employs minimap2 with a larger k-mer size compared to `-x pacbio` and `-x nanopore`.

[2020-02-18 23:52] haghshenas commented on #6
Remember that before I update the bioconda recipe, in order to get the latest changes, you need to build HASLR from source (check [here](https://github.com/vpc-ccg/haslr/#building)) rather than using the bioconda version.
The bioconda recipe will be updated after releasing a new tag.

[2020-02-19 09:39] mbhall88 commented on #6
When you say `-x pacbio` are you referring to minimap2 params? If so, there is a preset for CCS reads `-x asm20`.

[2020-02-19 18:18] haghshenas commented on #6
Not exactly. It doesn't pass the same parameter to minimap2.

[2020-02-19 19:45] haghshenas commented on #7
I implemented your suggestion.
The latest commit should use all long reads when `--cov-lr` is set to 0.

Thanks for the suggestion.

[2020-02-19 19:45] #7 closed

[2020-02-19 19:45] #6 closed

[2020-02-19 20:09] haghshenas commented on #5
Hi Jeff,

Sorry that I was busy with other stuff and got back to this so late.
Is the issue fixed? If yes, could you please let me know what the problem was and how you fixed it?

[2020-02-20 00:41] haghshenas commented on #4
Sorry for getting back to this so late.
Thanks @TGatter for your suggestion. Did you also encounter the same issue?

The option `-marge=native` is supposed to automatically enable `-msse4.1` for gcc/g++ if it is supported by the CPU.
If this is causing the problem, you should encounter the same problem on every dataset.

@bpucker and @TGatter could you please download the following small Lambda ph

[2020-02-20 05:34] bpucker commented on #4
Thank you for this suggestion. I tried it and the same issue appeared with this test dataset. There is no error message, but the process finished without producing the final assembly file.

[2020-02-20 07:08] haghshenas commented on #4
I see. To check if the problem is really caused by `-march=native` please try the two tests below:

1. Remove `-march=native` from SPOA's makefile at `src/haslr_assemble/lib/spoa.make`, make and run. This will force SPOA to be built without SIMD instructions.
2. Replace `-march=native` with `-msse4.1`, make and test again.

Please let me know if you can find the final assembly in any of the above

[2020-02-20 14:42] Arielyuan commented on #4
Hi, I also have the same problem of missing output files, I tried with my won genome data and there is no error information during running:
the log file:
`checking /truba/home/odogan/miniconda3/bin/haslr_assemble: ok
checking /truba/home/odogan/miniconda3/bin/minia_nooverlap: ok
checking /truba/home/odogan/miniconda3/bin/fastutils: ok
checking /truba/home/odogan/miniconda3/bin/minia: ok
checking /

[2020-02-20 22:43] haghshenas commented on #4
Hi Ariel @Arielyuan
The problem you are facing seems to be a different issue as it is happening during Minia assembly.
Could you open a new issue and attached `sr_k49_a3.log` file? It contains the log information of Minia assembler.

[2020-02-21 12:50] mbhall88 commented on #6
For my own interest, how come you don't use the presets for the different technologies?

[2020-02-22 12:38] mbhall88 opened #8 "Small discrepencies in docs"
Hi @haghshenas ,

I just noticed two very small discrepancies in the docs.

1. `wget` is a dependency for installation and [is not listed][1].
2. In the [building from source instructions][2], for the contents of `bin/`, you have listed `bin/nooverlap` when it is actually `bin/minia_noooverlap`

[1]: https://github.com/vpc-ccg/haslr#dependencies
[2]: https://github.com/vpc-ccg/haslr#building-from-

[2020-03-02 05:17] mason-linscott opened #9 "Use preexisting contig assembly instead of minia"
Would lit be possible to use a pre-existing contig assembly for input to HASLR similar to what has been implemented for DBG2OLC (https://www.sciencedirect.com/science/article/pii/S0888754318305603)?

[2020-03-04 08:52] jelber2 opened #10 "make clean required before make"
Hi,

If I follow

    git clone https://github.com/vpc-ccg/haslr.git
    cd haslr
    make

For commit e67b1eb98fc28f76dd24ca2c608ae6bcbc5c8f6d

I get the following error

    src/Assemble.cpp:6:20: fatal error: spoa.hpp: No such file or directory

Unless I do

    make clean
    make

Not a big issue, I am `gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609`

[2020-03-05 05:45] jelber2 opened #11 "Possible to lower memory usage for haslr_assemble"
Hi,

I have a single node Ubuntu 16.0.4 system with 378 GB RAM and 40 cores (80 threads). During the `haslr assemble` stage, memory usage jumps to over 100 % and `haslr_assemble` starts using Swap, so I dropped `--cov-lr` from 25 to 20 to 15 and now to 10. The genome is a 450 Mbp with ~ 30x PacBio CLR (simulated reads) and ~60x Illumina short-reads (simulated). I will see if the the `--cov-lr 10`

[2020-03-05 07:32] jelber2 commented on #11
I got the farthest with this command

    /genetics/elbers/haslr/bin/haslr.py --aln-block 1000 --aln-sim 0.90 --genome 450m --long pacbio.fastq.gz --type pacbio --short small_insert_trim1.fq.gz small_insert_trim2.fq.gz --threads 75 --cov-lr 10 --out haslr-pacbio-clr > haslr.pacbio-clr.log 2>&1 &

But, after a little while I got the same error as #5 , even though I was only using 75% RAM at most.

[2020-03-10 14:38] jstrickland63 commented on #5
Hello, I also got this same error. I ran it on a node with 80 CPUs and 1500GB of RAM. I was able to run the sample dataset with no problems. The output is below for the .err file. Please let me know what other information you might need. I will also start tinkering with parameters as jelber2 did in #11 and see if I get lucky.

[NOTE] number of threads: 80

[NOTE] loading contig sequences...

[2020-03-10 18:56] haghshenas commented on #5
I think I was able to reproduce this bug. I'm working on it and will update you.

[2020-03-14 17:30] uncleflybfchen opened #12 "Using haslr to scaffold a pre-assembled assembly"
Hi,

I have already assembled a draft assembly and would like to use haslr to scaffold the assembly using Nanopore long reads. Does haslr have this function?

[2020-03-17 03:43] xiekunwhy opened #13 "Why all backbone and asm file are empty?"
Hi,

I used ~30X ONT data and ~300X illumina data to assemble a high heterozygous genome. All backbone and asm file are empty, why?
The several last line of the 3sr_k49_a3.log file are
        traversal                                : contig
        nb_contigs                               : 563614877
        nb_small_contigs_discarded               : 45039966
        nt_assembled

[2020-03-17 04:39] haghshenas commented on #13
Hi @xiekunwhy

This is strange. My guess is that the short read were not properly assembled by Minia in the first place.
Can you please also share the size of files in the parent directory of the one you have shared?
Also, what is the expected size of the genome?

[2020-03-17 04:48] xiekunwhy commented on #13
Hi,
The expected genome size is ~3.2G accorrding to FCM results, but it is a high heterouzygous genome(only heterouzygous peak in kmer curve plot).

The following is the file sizes in the parent directory, any suggestions?

![image](https://user-images.githubusercontent.com/17738229/76822969-96ccdc00-684d-11ea-9f4b-6e18603e2e94.png)

[2020-03-18 13:40] AdrianMBarrera commented on #4
Hi all,

I'm facing the same problem. Did you get to solve it somehow?

Firstly, I installed HASLR in a local system and it works perfectly.

But now, I'm trying to use it in an HPC infrastructure. I installed it through conda and everything seems to run right, but final files are missing.

I don't know if this is related, but I found that Minia version differs between the one installed in my loca

[2020-04-20 20:27] tpriest0 commented on #4
Hi all,

Any further developments on this issue yet? I am having exactly the same problem as originally posted by bpucker.

Everything runs fun, the short read assembly also looks good but the final asm files are missing.

The last line of the .err file is:

[NOTE] calling consensus sequence between anchors...

Many thanks
Taylor

[2020-04-21 08:19] haghshenas commented on #4
Hi @tpriest0
Are you using the version installed by Conda or the latest commit from github?
If it is installed by Conda, can you please try to build from source (latest github commit) and try?

@AdrianMBarrera can you also try to build from source on your HPC and retry?
The difference is that the version on github uses `-msse4.1` while the version on conda uses `-march=native`.

If it is confirmed

[2020-04-21 08:33] tpriest0 commented on #4
Thank you for the reply. Yes I am currently using the conda installed version. I will build from source and let you know the result.

Many thanks

--

	Taylor Priest
PhD Student
Molecular Ecology

Max-Planck-Institut für Marine Mikrobiologie
Celsiusstr. 1 - D-28359 Bremen - Raum 2225
Telefon: +49 421 2028-936
E-Mail: tpriest@mpi-bremen.de

-----Original message-----
From: Ehsan Haghshenas <notific

[2020-04-22 16:29] AdrianMBarrera commented on #4
Hi @haghshenas

I build it from source, but I found another issue.
[code]
Should I open another issue?

Thank you in advance.

[2020-04-22 22:41] haghshenas commented on #4
Hi @AdrianMBarrera,
Thanks for reporting. I had added some new feature for reading input from FOFN (file of file names) but forgot to update the fastutils version in the Makefile.
Now it should be fixed. Can you try and let me know?

[2020-04-23 05:03] tpriest0 commented on #4
Hi @haghshenas

I built the haslr package from source and then tried to re-run the assembler.

It results in this line appearing:

'checking haslr_assemble: failed'

Everything appears to be compiled properly so I am not sure what the reason for this is.

Thanks

--

	Taylor Priest
PhD Student
Molecular Ecology

Max-Planck-Institut für Marine Mikrobiologie
Celsiusstr. 1 - D-28359 Bremen - Raum 222

[2020-04-23 06:41] haghshenas commented on #4
Hi @tpriest0
This is really strange. Did you compile the code using `make` as explained [here](https://github.com/vpc-ccg/haslr#building)?
If yes, can you check if `./bin/haslr_assemble -h` prints the help message?

[2020-04-23 06:54] tpriest0 commented on #4
Hi @haghshenas

Yes I compiled the code using make and there were no errors during compilation.

Running haslr_assemble -h does indeed print the help menu, so it seems very strange that it won't actually run.

--

	Taylor Priest
PhD Student
Molecular Ecology

Max-Planck-Institut für Marine Mikrobiologie
Celsiusstr. 1 - D-28359 Bremen - Raum 2225
Telefon: +49 421 2028-936
E-Mail: tpriest@mpi-bremen

[2020-04-23 09:56] pallevillesen opened #14 "Polishing example"
Hi (not really an issue).

Could you be kind and add a little info/example on polishing the assembly?  It was not clear from the ms how you did this.

It's probably just me (haven't assembled large genomes in a while - I'm used to unicycler which just takes care of everything).

[2020-05-04 07:12] jelber2 commented on #9
There have been new commits to add pre-existing contig assemblies to the `haslr` workflow, but unfortunately, I haven't been able to get non-`minia`  assemblies (ex: `ABySS` v.2 contig assemblies) to work. Is this correct @haghshenas, that only `minia` assemblies work with haslr_assemble at least as of commit 0123746af93a9b0d79eee969510d12a88a9d6af3 ?

[2020-05-08 00:53] palfalvi commented on #5
Hi @haghshenas !

I also got the same error recently on 35 CPUs and 2800 GB RAM trying to assemble a 2.3Gbp genome with illumina and ont data.  Just would like to know if there is any solution or workaround. Would be great to test this assembler!

[2020-05-19 08:55] HanKMU commented on #9
Hello, I am questioning as well as the application of pre-existing contig to HASLR, is there any update information? Thanks!

[2020-05-27 20:27] f0t1h opened #15 "Test"
Test

[2020-05-27 20:27] #15 closed

[2020-06-19 03:00] HanKMU opened #16 "assembling long reads using HASLR... failed"
Hi,
I'm trying to assemble 10x chromium data with nanopore data.
[code]

Here is the error information,

[18-Jun-2020 16:40:17] subsampling 25x long reads to /home/std/hyli/hybrid_assembly/miniaceus/HASLR/miniaceus/lr25x.fasta... done
[18-Jun-2020 16:57:53] assembling short reads using Minia... done
[18-Jun-2020 22:48:58] removing overlaps in short read assembly... done
[18-Jun-2020 22:50:29] remo

[2020-06-28 00:13] conchoecia commented on #7
Thanks for implementing that, and for writing the software, @haghshenas. Just came by to point out that this change is not yet on the conda version. I was able to get `--cov-lr 0` to work when I installed from github though.

[2020-06-29 14:37] CIWa commented on #5
Hi,

Thank you very much for offering this great tool! For supporting the issue:
I am using a single node with 2 TB of RAM, for a 6 GB genome, PacBio CLR + Illumina PE data. RAM was okay before the crash (< 60 %). My version is 0.8a1, build successfully from source.

My call:
haslr.py -t 126 -o ./ -g 6g -l pacbio.fa -x pacbio -s R1.fastq R2.fastq

The error messages are:
[29-Jun-2020 10:07:29] ass

[2020-07-06 08:53] dabitz opened #17 "compatibility with HiFi CCS PacBio reads"
Is HASLR compatible with highly accurate HiFi long reads from PacBio? Can I mix them with ONT reads?

[2020-08-14 09:18] nbargues commented on #4
Hi, I have a similar issue, everything seems to work well but no final assembly are created.
log error :

[NOTE] number of threads: 18

[NOTE] loading contig sequences...
       processing file: /home/cxx5wc/muc1/hybrid/haslr_hybrid_v3/sr_k49_a3.contigs.nooverlap.fa... Done in 0.41 CPU seconds (0.41 real seconds)
       loaded 273585 contigs
       elapsed time 0.44 CPU seconds (0.44 real seconds)

[2020-08-16 15:31] drs commented on #5
Hi @haghshenas,

I also got the same error trying to assemble a small genome (32.5 Mb) (Thalassiosira pseudonana) on two different system (Ubuntu 20.04 - 64 Gb RAM - 40 Threads and Debian 9 - 400 Gb RAM - 40 Threads).

I use different subsample (15X to 100X coverage) of a large dataset (SRA SRR7762361) to assemble the genome and the only dataset that fails with this error is the dataset with 15X c

[2020-08-31 03:21] xiekunwhy commented on #1
Hi,

Any progress about high heterozygous (>2%) genomes assembling using HASLR?
And can you keep this issue opening until the heterozygous problem is solved?

Best,
Kun

[2020-09-03 02:17] pydupont opened #18 "Conda version does not produce final assembly"
Hi,

Nice work on this! I initially installed the conda version: `haslr=0.8a1=py38h1c8e9b9_1` from bioconda. It seems to run fine, there are no error message, it even says that the long read assembly is done but I can't find the assembly file anywhere.
I then cloned the git repo and tried that version and it works with the same exact command.

Cheers

[2020-09-03 02:28] pydupont commented on #18
Actually it works on the test ecoli data that you provide but on my data it just generates an empty file for the final assembly. How can I debug what's happening? There are the error message in the output

[2020-09-18 09:18] koujiaodahan opened #19 "speed running"
Hi,
 im running the software to assembly the human genome,  i have runned one day, and it is still running,so how can i speed it? generally speaking , what memory perl thread? if i have sufficient memory ,can i set a bigger thread?  my machine is 64cores,500G memory,here is my script:
~/backup_data/anaconda3/haslr/bin/haslr.py -t 8 -o ~/USER/lizhichao/Assembly/outdir/Assemblyoutput -g 3g -l ~/USER

[2020-09-18 09:24] jelber2 commented on #19
change `-t 8` to `-t 64` perhaps

[2020-09-18 10:34] koujiaodahan commented on #19
Thanks, i have runned the 55 threads  shell and not break the 8 threads process. How long do you think it will take to run the both scripts

[2020-09-18 11:07] jelber2 commented on #19
Did you change the output directory? I have no idea how long it might take? Depends on coverage of long and short reads?

[2020-09-18 21:01] koujiaodahan commented on #19
sure,i set a new output dir

[2020-09-20 11:04] koujiaodahan commented on #19
it is always running minia for over 24 hours ,is it normal?

[2020-09-22 11:36] jelber2 commented on #19
Minia is very fast, but genome size and coverage influence its runtime also probably choice of k-mer length and other similar types of settings.

[2020-09-23 07:25] koujiaodahan commented on #19
So,is there any recommended parameters  for running human genome assembly?

[2020-09-23 07:32] jelber2 commented on #19
Are you trying out the assembler with someone else's data or do you have a new human genome assembly that you would like to make with your own data? I would think that it would have finished by now (~5 days running). Again, you haven't specified the coverage of the Illumina or I guess Oxford Nanopore data that you are using. You can also read the paper describing HASLR for perhaps more information

[2020-09-23 09:59] koujiaodahan commented on #19
Sorry,im trying to assembly a human genome, The coverage of both short reads and long reads is 120X

[2020-09-23 11:37] jelber2 commented on #19
I would recommend you try either `GraphAligner` (https://github.com/maickrau/GraphAligner) or `Ratatosk` (https://github.com/DecodeGenetics/Ratatosk) to error correct your Nanopore reads with your Illumina reads then assemble with `Flye` (https://github.com/fenderglass/Flye) using the `--nano-corr` option. `Ratatosk` even has a faster reference based method whereby to correct the reads (I haven't

[2020-09-29 06:11] koujiaodahan opened #20 "assembling long reads using HASLR... failed ERROR"
Hi：
I downsample the ONT data to 60X，and MGI data to 40X, and running the script as follow:
sh ~/USER/Assembly/haslr/script/lowdepth_script/haslr_base.sh  ~/USER/Assembly/outdir2/fastq/ONT_60X/NA24385_ONT.60X.fastq.gz ~/USER/Assembly/outdir2/fastq/T7_40X/NA24385_T7.40X.clean_1.fq.gz ~/USER/Assembly/outdir2/fastq/T7_40X/NA24385_T7.40X.clean_2.fq.gz  ~/Assembly/outdir2/haslr_out/T740_ONT60

and My h

[2020-09-29 06:20] koujiaodahan commented on #20
[asm_contigs_k49_a3_c250_lr25x_b500_s3_sim0.85.err.txt](https://github.com/vpc-ccg/haslr/files/5296801/asm_contigs_k49_a3_c250_lr25x_b500_s3_sim0.85.err.txt)
I find the error in the outdir,so should i decrease the running thread to reduce consuming memory?

[2020-09-29 06:29] koujiaodahan commented on #19
Thanks,jelber2.
so haslr is not advised ?why?

[2020-09-29 06:37] jelber2 commented on #19
In my experience, HASLR will generate very good statistics (N50, etc) for assembly using raw long reads and accurate short reads, but the error rate (indels and substitutions) of the final assembly is similar to the error rate of the long reads and not the short reads. One can improve the error rates by using long reads corrected by the short reads, and using the corrected long reads as input, but

[2020-09-30 04:38] haghshenas commented on #19
Hi @koujiaodahan and thanks for trying HASLR.
I'm surprised that Minia is taking so long to finish. In my experience, on short read datasets from human genome with about 40x coverage, it takes about 5 hours to finish. Are you sure that Minia assembly was the step that took a long time to finish?
If yes, one solution could be subsampling short reads to about 40-50x coverage. You can use fastutils c

[2020-09-30 04:45] haghshenas commented on #20
@koujiaodahan this doesn't seem like a problem with memory usage. It seems to be the same bug reported in #5 which doesn't happen all the time and is hard to reproduce.
I will try to find a small dataset that reproduces this bug.

[2020-09-30 04:50] koujiaodahan commented on #20
oh,i have reproduce threee times...

[2020-09-30 04:53] haghshenas commented on #20
Yes, but I need a small dataset to be able to debug things.
But just in case, is the dataset you are using publicly available?

[2020-09-30 04:56] koujiaodahan commented on #20
the dataset is not yet published,MGI short reads and ONT long reads.

[2020-09-30 07:33] koujiaodahan commented on #19
yeah, i agree that the coverage is too high,so i downsampled  and i got error which i released at #20 .
and i want to know whether your polishing  method  means  running wtdbg2.pl after running haslr?

[2020-09-30 07:52] koujiaodahan commented on #20
I want to konw what's you whole analysis pipeline using real datasets in article which is not described in table s1.  The pipeline is just running halsr on the sequencing dataset? is there any processing before running halsr?

[2020-10-01 06:12] koujiaodahan commented on #20
should i correct the ONT reads  using some software before running Halsr?

[2020-10-01 06:26] koujiaodahan commented on #5
So, what's the solution to "terminate called after throwing an instance of 'std::bad_alloc'"

[2020-10-01 19:16] GabeAl commented on #18
Same. No final assembly, log file is totally clean:

[code]
Likewise, I can confirm that compiling it with git and _literally copying the contents of bin/ back to the conda environment_ makes it work just fine. So if there was some way to replace the broken conda binaries with these ones (or compile statically?), problem solved, methinks.

[2020-10-02 13:44] tpshea2 commented on #4
I have also encountered empty "asm.final.fa" files but with no error that I could find.  This occurred in two out of three test runs on bacterial hybrid assemblies (Illumina+ONT).  The three tests were on different genera.  Further, the one that did generate content in the the asm.final.fa file was missing roughly 25% of the genome (including a 19kb plasmid as well as a ~500Kb region of the chromo

[2020-10-06 15:30] heathheckman opened #21 "Debug Message in log File"

[2020-10-06 15:33] #21 closed, assigned to nobody

[2020-10-18 10:36] koujiaodahan commented on #20
hello,is any advise?

[2020-10-20 07:10] NTNguyen13 commented on #4
I also encountered this problem in using conda version, everything run fine but there's no final output

[code]

If I change to github version, then the error is:
[code]

[2020-10-24 07:53] asan-emirsaleh opened #22 "Bug while running script: "could not find file""
If I run haslr.py after it was aborted, the shell returns "could not find file log". If I run a recently compiled haslr, the shell returns "haslr.py: error: could not find file haslr".

Once I have done an export into the ass directory in command line arguments, but the haslr raised error "could not find file ass" and "ass is not file or directory". If I change command line arguments to another it

[2020-10-26 04:04] NTNguyen13 opened #23 "Short Homo Sapien Assembly from Genome in a Bottle Data"
Hi, I'm trying HASLR using data from GIAB: https://github.com/genome-in-a-bottle/giab_data_indexes/tree/master/NA12878

- All PacBio HIFI reads (~30X), `cat` into a single fastq.gz file.
- Subsampled Illumina Short Reads from 300X to 55X, `cat` into 2 paired-end fastq files.

I used haslr with this command

[code]

However, the result `asm.final.fa` only have 576MB in size, and only cover around 1

[2020-10-26 09:41] CourcelleM commented on #23
Hi,

I'm highly interested in the answer to this issue as I have exactly the same problem with very small final assemblies.

I would appreciated your help,

Thanks,

Maxime

[2020-10-26 11:30] jelber2 commented on #23
You might use kmergenie to estimate the „optimal“ k for the Illumina reads then try that instead of the default 49.

[2020-10-27 02:23] NTNguyen13 commented on #23
Thanks! I will try it out. However, I still don't understand why the long read subsampling produces the same file despite using 2 different long read files, or different subsampling threshold

[2020-10-27 15:43] NTNguyen13 commented on #23
After changing k=19 according to kmergenie, I got another error:

`ERROR: "haslr_assemble" returned non-zero exit status`

[2020-10-27 15:58] jelber2 commented on #23
Are you sure kmergenie gave you a k=19? I was expecting something more like k~101 depending on the read length.  Not sure about the new error.

[2020-10-27 16:26] haghshenas commented on #23
@NTNguyen13 thanks for reporting low-sized final assembly, as well as the error with k=19.
I'm going to follow the steps you have done and see if I can reproduce what you get. In general, if the average length of long reads is low I could expect to see more fragmented and lower-sized final assembly (this is because "shorter" long reads might not be able to connect distant unique short read contigs

[2020-10-28 04:19] NTNguyen13 commented on #23
[NA12878_R1_15X_merge_kmer.dat.pdf](https://github.com/vpc-ccg/haslr/files/5449620/NA12878_R1_15X_merge_kmer.dat.pdf)

@jelber2 hi, this is the histogram of kmer size
@haghshenas thank you for your support. I suspect that the problem come from using `cat` on fastq.gz file of CCS. I tried 3 screnarios:
- #1 Using 1 original read: lr25x.fasta size is ~30GB
- #2 Cat 2 original reads: lr25x.fasta size

[2020-10-28 06:37] koujiaodahan commented on #20
asm_contigs_k49_a3_c250_lr25x_b500_s3_sim0.85.err
map_contigs_k49_a3_c250_lr25x.log
sr_k49_a3.log

[2020-10-28 06:39] koujiaodahan commented on #20
here is my running log
[asm_contigs_k49_a3_c250_lr25x_b500_s3_sim0.85.err.txt](https://github.com/vpc-ccg/haslr/files/5450080/asm_contigs_k49_a3_c250_lr25x_b500_s3_sim0.85.err.txt)
[map_contigs_k49_a3_c250_lr25x.log.txt](https://github.com/vpc-ccg/haslr/files/5450081/map_contigs_k49_a3_c250_lr25x.log.txt)
[sr_k49_a3.log.txt](https://github.com/vpc-ccg/haslr/files/5450082/sr_k49_a3.log.txt)

[2020-11-04 09:55] NTNguyen13 commented on #23
hi @haghshenas, I re-downloaded the Long read file, this time I use sra-toolkit to download the SRA files, then convert them to fastq to make sure all files are well-preserved.

However, the same problem about subsampling long read still persist:
- 1. Set --cov-l 10, file size ~26.1 GB
- 1. Set --cov-l 25, file size ~26.1 GB
- 1. Set --cov-l 30, file size ~26.1 GB

[2020-11-08 21:42] jirivorel commented on #13
Hi folks, any progress with this issue? I'm facing the same problem - an example (quick start) works well, but with real data (Illumina + ONT) conda and source code versions produce an empty final assembly.  No errors during the compilation have raised.

`checking /software/conda-modules/5.3.1/envs/haslr/bin/haslr_assemble: ok
checking /software/conda-modules/5.3.1/envs/haslr/bin/minia_nooverlap:

[2020-11-09 03:22] NTNguyen13 commented on #23
for checking integrity of Long read fastq file, I aligned it to HG38 using minimap2, the coverage is around 30X, as expected.

![image](https://user-images.githubusercontent.com/39985901/98496669-c1542500-2274-11eb-9104-13a7c6687d50.png)

[2020-12-05 13:15] ehrenbentz commented on #16
I get exactly the same error. Did you ever find what your issue was?

[2020-12-05 13:17] ehrenbentz commented on #16
I get the exact same error. Any progress on figuring this out?
Thanks!

[2020-12-13 14:59] xie186 opened #24 "Multiple long read files in the latest version"
Hi , It seems that the latest version of `haslr` allows the user to provide multiple fastq files as input based on the code here: https://github.com/vpc-ccg/haslr/blob/0123746af93a9b0d79eee969510d12a88a9d6af3/bin/haslr.py#L300. This is not allowed in https://github.com/vpc-ccg/haslr/releases/tag/v0.8a1

Could you please update the bioconda version: https://anaconda.org/bioconda/haslr? As of today,

[2020-12-18 19:04] desmodus1984 opened #25 "Changing K-mer size of Minia leads to final fasta of zero bits"
Hi,
I am trying to assemble a genome of ~2.5 GB with ~15X of Nanopore data and ~65X of 100bps short-read data.
I did one run of Abyss and I got a pretty bad result and then I learned that I used the wrong k-mer size, too far away from the optimum (95). Then, I found out that there is a software kmergenie to find the optimal k-mer size, and I did it for my short-read data and it is 63, MaSurca said

[2021-01-21 05:25] fancyge commented on #4
Hello, I'm using the github version and tried first with the ecoli example datasets from https://github.com/vpc-ccg/haslr which worked quite ok. But I had this error with my own dataset.

/Softwares/haslr/bin/haslr.py -t 24 -o haslr -g 800m -l long_porechop.fastq -x nanopore -s R1.fastq.gz R2.fastq.gz
checking /Softwares/haslr/bin/haslr_assemble: ok
checking /Softwares/haslr/bin/minia_nooverlap: o

[2021-02-17 18:13] pdimens commented on #18
I can confirm this problem persists in the conda installation. Here is the `tree` of the working directory:
[code]

[2021-02-21 02:51] Oieswarya opened #26 "Failing while checking minia"
Hello I have installed haslr and my bin includes all the 6 files:

bin/fastutils
bin/haslr_assemble
bin/haslr.py
bin/minia
bin/minimap2
bin/minia_nooverlap

I tried with the example command:

python haslr.py -t 8 -o /haslr/ecoli -g 4.6m -l /haslr/ecoli_filtered.fastq.gz -x pacbio -s /haslr/ecoli_miseq.1.fastq.gz /haslr/ecoli_miseq.2.fastq.gz`

And I am getting this error:

checking /haslr/bin/hasl

[2021-02-25 16:00] comery commented on #16
I am trying to assembly pre-assembled contigs generated by short reads with Pacbio reads using the command:

[code]
I also got the same error information:

[25-Feb-2021 21:09:11] removing overlaps in short read assembly... done
[25-Feb-2021 21:09:16] removing short sequences in short read assembly... done
[25-Feb-2021 21:09:17] aligning long reads to short read assembly using minimap2... done
[25-

[2021-04-08 11:01] Ayse1006 commented on #13
I have the same problem when trying to run a similar pipeline, does anyone has a solution ?

[2021-04-21 08:10] mictadlo commented on #18
same here

[2021-04-21 08:13] mictadlo commented on #13
same here

[2021-05-03 17:05] asgiraldoc opened #27 "question multiple libraries?"
Hi, this program support multiple Illumina libraries?

[2021-05-14 02:12] ardy20 opened #28 "Does this tool do phasing?"
Hi

I am interested to use your tool. In your example, Is the backbone.06.smallbubble.gfa the final graph of assembly? and does it include duplications and haplotigs that can be used for subsequent possible phasing?

I was wondering whether polishing with short reads (which happens as part of HASLR) will remove duplications or not; especially at .gfa stage/files.

[2021-05-14 22:40] ISonets commented on #18
Aforementioned way to fix it works!
TODO:
1.git clone => make
2. conda install
3. copy all(haslr.py also) to conda env location, overwrite files
4. PROFIT
Still needs a proper fix though.

[2021-06-10 07:54] hoelzer commented on #13
same here, the final assembly fasta does not even exist

[code]

but it seems the short-read assembly worked

[code]

I expect ~40Mb

[2021-08-16 05:59] mictadlo commented on #14
Hi,
Do I need to run Racon after HASLR or can I go straight to Pilon?

Thank you in advance,

Michal

[2021-08-16 06:04] mictadlo opened #29 "kmer determination"
Hi,
What would be a good way to determine the kmer?

Thank you in advance,

Michal

[2021-09-17 17:00] iek commented on #23
Did this issue ever get resolved? I am also having very short genome assemblies compared to the reference genome.

[2021-09-18 14:00] iek opened #30 "Much Shorter Assembly than Expected"
Hello, I'm using HASLR with nanopore and Illumina data to assemble a P. falciparum genome.

All nanopore data has around ~50x coverage.
All Illumina short reads are set as 2 paired-end fastq files (the paired-end doesn't matter for haslr, I believe?)

I used this command: haslr.py -t 10 -o pfalciparum -g 23m -l nanopore_data.fasta nanopore -s illumina_data.fasta

The resulting asm.final.fa contain

[2021-11-01 00:58] mictadlo opened #31 "AttributeError: 'module' object has no attribute 'run'"
Hi,

[code]

[code]

What did I miss?

[2021-11-23 20:33] mictadlo opened #32 "lr0x.fasta... [ERROR] option -d/--depth is required"
Hi,
I have got `lr0x.fasta... [ERROR] option -d/--depth is required`

[code]
What did I miss?

Thank you in advance,

Michal

[2021-11-23 20:43] mictadlo commented on #32
Sorry, I ran bioconda version which did not support `--cov-lr 0`

[2021-11-23 20:43] #32 closed, assigned to nobody

[2021-11-23 20:46] mictadlo opened #33 "new release for bioconda"
Hi,
Could you please create a new release (https://github.com/bioconda/bioconda-recipes/pull/31228#pullrequestreview-794034514 )?

Thank you in advance,

Michal

[2021-12-20 14:49] charles-gumbi opened #34 "Assembling pacbio, nanopore and illumina reads"
Thanks for providing and maintaining HASLR. Is it possible to use HASLR to assembly sequences from pacbio,  nanopore, and Illumina all together at the same time?  I have used HASLR to assembly pacbio and Illumina before and it worked well. But now I have data from nanopore on the same individuals. This is a bat genome that is estimated t be at 3Gb.
Humble regards
Charles

[2021-12-20 18:13] fhach commented on #34
Hi Charles,

Although, we have not tested the scenario you explained but I would give the ONT/PacBio together to haslr. It may work without any other modifications.

[2021-12-21 14:53] charles-gumbi commented on #34
Hey Fhach, thank you for your swift response. I have supplied both long reads to haslr and seem to be running smoothly so far. But ill have to wait for the final assembly to access the success
below is the one of code Im running in the the server  :

#running the HASLR in command line
haslr.py --type pacbio --type nanopore --out bat_genome_output --genome 3g --long pacbio_subreads.fastq --long nan

[2022-01-25 19:26] cssanchez23 commented on #4
Just tried this with both the git clone install and the conda install. Both instances  I did not receive an error ; however, the asm.final.fa was empty. Has anyone found a fix?

[2022-02-09 17:27] andrzej-grz commented on #30
Hello,
I have similar problem. ONT reads with average x50 coverage with Raven and Smartdenovo gave assemblies 750-780M with BUSCOs above 98%. Using ONT and Illumina reads in HASLR resulted in much shorter assembly c. 580M.
Did anybody solve this issue?

[2022-02-24 23:48] mictadlo opened #35 "ERROR: "haslr_assemble" returned non-zero exit status"
Hi,

[code]
What did I miss?

Thank you in advance,

Michal

[2022-05-20 13:34] jessiepelosi commented on #5
I've also run into this issue with the same error during `calling consensus sequence between anchors...`:

`terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc`

Has there been any progress on solving this issue since 2020?

Looking at [this issue](https://github.com/alexdobin/STAR/issues/103) from STAR, it's likely not an issue with available memory but the n

[2022-07-13 11:46] gargkritika opened #36 "Clean raw data prior to assembly"
Hi

I am planning to use Haslr for my project. I have ~100X illumina short read data and ~15X long read data from oxford nanopore. I was wondering does Haslr perform any cleanup prior to assembly or we should first clean the raw data and then use Haslr for genome assembly.

Thank you
Best regards
Kritika

[2022-07-26 00:05] methylome commented on #18
@ISonets What's PROFIT?

[2022-07-26 00:10] methylome opened #37 "Assembling the test data does not generate an assembly"
Conda and make version do not generate an assembly for the E. coli dataset.

total 224M
drwxr-xr-x 2 cjh info 4.0K Jul 25 19:00 asm_contigs_k49_a3_lr25x_b500_s3_sim0.85
-rw-r--r-- 1 cjh info 2.2K Jul 25 19:00 asm_contigs_k49_a3_lr25x_b500_s3_sim0.85.err
-rw-r--r-- 1 cjh info    0 Jul 25 19:00 asm_contigs_k49_a3_lr25x_b500_s3_sim0.85.out
-rw-r--r-- 1 cjh info 111M Jul 25 16:32 lr25x.fasta
-rw-r--r-

[2022-07-26 08:29] methylome commented on #37
I downloaded v0.8a1 which did not work.
Solved as suggested in https://github.com/vpc-ccg/haslr/issues/18#issuecomment-841536244

[2022-07-26 08:29] #37 closed, assigned to nobody

[2022-09-27 08:25] bioramg opened #38 "final.fa is 0 kb"
Hello,
I assembled the plant mitochondrial genome with the following command:
haslr.py -t 40 -o pl_mt -g 1.36 -l ONT.fastq.gz -x nanopore -s 1.fastq.gz 2.fastq.gz

assembling short reads using Minia... done
removing overlaps in short read assembly... done
removing short sequences in short read assembly... done
aligning long reads to short read assembly using minimap2... done
assembling long reads